<div class="rm-loading-container">
  <div class="rm-loading-bar rm-loading-bar-1">
    <div class="rm-loading-bar-bar"></div>
  </div>
  <div class="rm-loading-bar rm-loading-bar-2">
    <div class="rm-loading-bar-bar"></div>
  </div>
  <div class="rm-loading-bar rm-loading-bar-3">
    <div class="rm-loading-bar-bar"></div>
  </div>
</div>
